<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/articles/list">Proizvodi</a></li>
    <li class="breadcrumb-item active"><a href="/articles/list">Detalji proizvoda</a></li>
</ol>
<h1 class="display-4">Dodaj proizvod</h1>
<form method="post" action="/articles/create" id="forma">
    <div class="form-group">
        <label for="naziv">Naziv</label>
        <input type="text" id="naziv" name="naziv" class="form-control">
    </div>
    <div class="form-group">
            <label for="atk">Atk</label>
            <input type="text" name="atk" class="form-control">
    </div>
    <div class="form-group">
            <label for="sastav">Sastav</label>
            <input type="text" name="sastav" class="form-control">
    </div>
    <div class="form-group">
            <label for="terapijsko_podrucke">Terapijsko područje</label>
            <input type="text" name="terapijsko_podrucje" class="form-control">
    </div>
    <div class="form-group">
            <label for="drzava">Država</label>
            <input type="text" name="drzava" class="form-control">
    </div>
    <div class="form-group">
            <label for="pakiranje">Pakiranje</label>
            <input type="text" name="pakiranje" class="form-control">
    </div>
    <div class="form-group">
            <label for="brend">Brend</label>
            <select class="form-control" id="exampleFormControlSelect1" name="brend">
            <% _.each(brendovi, function(brend) { %>
            <option value="<%= brend.id %>" name="brend"><%= brend.naziv %></option>
            <%}) %>
            </select>
    </div>
    <div class="form-group">
            <label for="opis">Opis</label>
            <textarea name="opis" class="form-control"></textarea>
    </div>
    <input id="zapisi" type="submit" value="Zapiši" class="btn btn-success">
    <a href="/articles/list/" class="btn btn-outline-secondary">Izlaz</a>
</form>
<form>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
