<h1 class="display-4">Dobrodošli na stranicu proizvoda</h1>
<p class="mb-4">Ovo je Sails.js aplikacija za evidenciju farmaceutskih proizvoda</p>
<a href="/articles/list" class="btn btn-light">Proizvodi</a>
<a href="/articles/add" class="btn btn-light">Dodaj proizvod</a>